.subadmin {
    background: white;
    min-height: 100vh;
    overflow: hidden;
}

.subadmin .text {
    margin: 1.3rem;
}

.subadmin .title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--deepred);

}

.subadmin-navbar {
    background: var(--deepred);
    color: var(--lightgrey);
    z-index: 1000;
    width: 100%;
}

/* Brand text color */
.subadmin-navbar .navbar-brand h2 {
    color: #979797;
}

/* Nav links */
.subadmin-navbar .nav-link {
    color: var(--lightgrey) !important;
    font-weight: 500;
    transition: color 0.3s ease;
}

.subadmin-navbar .nav-link:hover {
    color: #ffffff !important;
}

.subadmin-navbar .navbar-toggler {
    border: none;
}

.subadmin-navbar .navbar-toggler .fa-bars {
    color: var(--lightgrey);
}

/* Subadmin-specific chart styles */
.subadmin-chart .chart-container {
    height: 200px;
}

.stat-link a.link-with-icon,
.chart-link a.link-with-icon {
    text-decoration: none;
    color: var(--white);
    /* or #7a2617 or any color that fits */
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
    cursor: pointer;
}

.stat-link a.link-with-icon:hover {
    color: var(--lightgrey);
    /* or a hover highlight color */
}

.custom-modal {
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: var(--darkred);
}

.custom-modal-backdrop {
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
}

